body {
   color: white;
   background: black;
   margin: 0px;
}

head {
    border-bottom: solid 2px rgb(127, 144, 241);
    padding: 20px;
    font-size: 32px;
    color: rgb(39, 180, 245);
}
